<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hyperchat - My Profile</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Each "page" has its own CSS file to help with readability and modularization. -->
    <link rel="stylesheet" type="text/css" href="common.css">
    <link rel="stylesheet" type="text/css" href="CSSprofile.css">

    <script type="text/javascript" src="/scripts/handlebars-0.9.0.pre.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="common.js"></script>


</head>
<body>

    <nav class="navbar" id="navbar">
        <div class="col-sm-3" id="navlinks">
            <a href="main.html" class="navlink" onclick="navigateTo('main')">Home</a>
            <a href="profile.html" class="active navlink" onclick="navigateTo('profile')">My Profile</a>
            <a href="javascript:void(0);" class="icon" onclick="makeBurger()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </nav>

    <!-- Profile Page -->
    <div class="container page" style="display:block;" id="profilePage">
        <div class="row">
            <div class="col-sm-3">
                <div class="container" name="details" id="leftbar">
                    <div class="row header">
                        <h1> My Account </h1>
                    </div>

                    <script id="userData" type="text/x-handlebars-template">
                        <p> Username: {{username}} </p>
                        <p> email: {{email}} </p>
                        <p> Forename: {{forename}} </p>
                        <p> Surname: {{surname}} </p>
                    </script>

                    <div class="row header">
                        <h1> Friends </h1>
                    </div>

                    <div class="row scroll">

                        <div class="row container friend">
                            <a type="buddy" href="/friend">@Friend1</a>
                        </div>

                        <div class="row container friend">
                            <a type="buddy" href="#">@Friend2</a>
                        </div>

                        <div class="row container friend">
                            <a type="buddy" href="#">@Friend3</a>
                        </div>

                        <div class="row container friend">
                            <a type="buddy" href="#">@Friend4</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-9 main">

                <form>

                    <h1> Change Password </h1>

                    <input class="box" type="password" name="oldPassword" id="oldPassword" placeholder="Enter your old password" required /><br>
                    <input class="box" type="password" name="newPassword" id="newPassword" placeholder="Enter your new password" required /><br>
                    <input class="box" type="password" name="newPassreType" id="newPassreType" placeholder="Retype your new password" required /><br>
                    <br>
                    <input id="changePass" name="submitDetails" value="Change Password" onclick="changePassword()"/><br>

                </form>
                <br>
                <form>

                    <h1> Change Details </h1>

                    <input class="box" type="password" name="password" id="password" placeholder="Enter your password" required /><br>
                    <input class="box" type="email" name="email" id="email" placeholder="Enter your new email" /><br>
                    <input class="box" type="text" name="forename" id="forename" placeholder="Your forename" /><br>
                    <input class="box" type="text" name="surname" id="surname" placeholder="Your surname" /><br>
                    <br>
                    <input type="submit" id="submitDetails" name="submitDetails" value="Change Details" onclick="changeDetails()"/><br>

                </form>
            </div>
        </div>
    </div>

    <footer class="footer">

        <div id="login_out">
            <a href="/" class="btn btn-primary" name="logout" onclick="logoutHandler()">Logout</a>
        </div>

        <div class="search-container">
            <form>
                <input type="text" id="userquery" placeholder="Search for a user.." name="search">
                <button type="submit" onclick="searchUser()">Submit</button>
            </form>
        </div>

    </footer>

</body>
</html>